# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
.env
uploads/

# Build/deploy artifacts
*.zip
scripts/appbundle.zip
app.zip
site-logs.zip
logs_extract/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
