<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="pythonHandler" path="*" verb="*" modules="IsapiModule" scriptProcessor="D:\\home\\python364x64\\python.exe|D:\\home\\python364x64\\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="WSGI" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="wfastcgi.py" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
  </system.webServer>
</configuration>
